[submodule "vendor/selecta"]
	path = vendor/selecta
	url = git@github.com:garybernhardt/selecta.git
[submodule "vendor/git-alpha"]
	path = vendor/git-alpha
	url = git@github.com:koffeinfrei/git-alpha.git
[submodule "vendor/bash-prompt"]
	path = vendor/bash-prompt
	url = git@github.com:koffeinfrei/bash-prompt.git
